---
layout: spot
---

<script type="text/javascript">
     function showmoreless(postid,descid,inhtmText) {  
        var x = document.getElementById(postid).style.display; 
        if(x=="block"){
		  document.getElementById(descid).style.display = "block";
          document.getElementById(postid).style.display = "none";
          document.getElementById(inhtmText).innerHTML="<img style='background:transparent;border:none;box-shadow:none;'src='http://fierralin.github.com/images/arrow_show.png' alt='&gt;'>";
		  document.getElementById(inhtmText).title="Show More"
        }
       if(x=="none"){
		  document.getElementById(descid).style.display = "none";
          document.getElementById(postid).style.display = "block";
          document.getElementById(inhtmText).innerHTML="<img style='background:transparent;border:none;box-shadow:none;'src='http://fierralin.github.com/images/arrow_hide.png' alt='&lt;'>";
		  document.getElementById(inhtmText).title="Show Less"
        }
     }
</script>

{% for post in paginator.posts %}
	{% assign post_str = post.url | replace: '/', '-' %}
	{% assign post_str = post_str | remove: '.html'%}
	{% assign post_str = post_str | remove_first: '-'%}

<div class="date-outer" id="div-{{ post_str }}">
 <h2 class='date-header'><span>{{post.date | date: '%d %h %Y, %H:%M:%S'}}</span></h2>
 <div class="date-posts"><div class='post-outer'>
  <div class='post hentry uncustomized-post-template' itemprop='blogPost' itemscope='itemscope' itemtype='http://schema.org/BlogPosting'>
	<h3 class='post-title entry-title' itemprop='name'>
		<a href='{{post.url | prepend:site.baseurl}}'>{{ post.title }}</a>
		<div style="float:right; font-size: 16px"><a href="#div-{{ post_str }}"
			id="show-{{ post_str }}"
			onclick="showmoreless('{{ post_str }}' , 'desc-'+'{{ post_str }}' ,'show-'+'{{ post_str }}')"
			title="Show More"><img style="background:transparent;border:none;box-shadow:none;"src='http://fierralin.github.com/images/arrow_show.png' alt='&gt;'>
		</a></div>
	</h3>
	
	<!--div class='post-header'><div class='post-header-line-1'></div></div-->

	{% if post.layout == 'spotpoem' %}
	<div class="post-body entry-content post-content-p" id="desc-{{ post_str }}" itemprop="description articleBody">
	{% else %}
	<div class="post-body entry-content" id="desc-{{ post_str }}" itemprop="description articleBody">
	{% endif %}
	 {{ post.content | truncatehtml: 100 }}
	 <!--span style="color: honeydew;">Description:</span>
	 <span style="">{{ post.description }}</span-->
	<div style='clear: both;'></div></div>
	
	<div class="post-body entry-content" id="{{ post_str }}" style="display:none;" itemprop="description articleBody">
	 <div id="post-{{ post_str }}"></div>
	 <h3><a href="#div-{{ post_str }}"
		id="show-{{ post_str }}"
		onclick="showmoreless('{{ post_str }}' , 'desc-'+'{{ post_str }}' ,'show-'+'{{ post_str }}')"
		style="float: right;"
		title="Hide Contents">
		<img style="background:transparent;border:none;box-shadow:none;"src='http://fierralin.github.com/images/arrow_hide.png' alt='&lt;'>
	 </a></h3>
	<div style='clear: both;'></div></div>
	<script>
     $( "#post-{{ post_str }}" ).load( "{{post.url | prepend:site.baseurl}} #postcontent" );
	</script>
	
	
	<div class='post-footer'>
			{% if post.description %}
			 <div class='post-footer-line post-footer-line-2'><span class='post-labels'>
			 Description: {{post.description}}
			 </span></div>
			{% endif %}
			
			{% if post.tags[0] %}
			 <div class='post-footer-line post-footer-line-2'><span class='post-labels'>Labels: 
			 {% for tag in post.tags %}
			 <a href='{{site.baseurl}}/tag/{{tag}}' rel='tag'>{{ tag }}</a>
			 {% endfor %}
			 </span></div>
			 {% endif %}
			 <div class='post-footer-line post-footer-line-3'><span class='post-location'></span></div>
	</div>
	
	
  </div>

	<div class='comments' id='comments'><a name='comments'></a><div id='backlinks-container'><div id='Blog1_backlinks-container'></div></div></div>
 </div>
</div></div>

{% endfor %}

<div class='blog-pager' id='blog-pager'>
    {% if paginator.previous_page %}
	    {% if paginator.previous_page == 1 %}
			<span id='blog-pager-newer-link'><a class='blog-pager-newer-link' href='{{ site.baseurl }}/' title='Previous'>&laquo;&nbsp;Previous</a></span>
		{% else %}
			<span id='blog-pager-newer-link'><a class='blog-pager-newer-link' href='{{ site.baseurl }}/page_{{ paginator.previous_page }}/' title='Previous'>&laquo;&nbsp;Previous</a></span>
		{% endif %}
    {% endif %}
        <span class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
		<span id='blog-pager-older-link'><a class='blog-pager-older-link' href='{{ site.baseurl }}/page_{{ paginator.next_page }}/' title='Next'>Next&nbsp;&raquo;</a></span>
	{% endif %}
	
</div>

