---
layout: spot
---
<h3>Tags</h3><br />
<div class='widget-content list-label-widget-content'>
	 <ul>
		{% for tag in site.tags %}
		 <li>
		  <a dir='ltr' href='{{ site.baseurl }}/tag/{{ tag[0] }}' data-toggle="tooltip" data-placement="right" title='{{tag[1].size}}'>{{ tag[0] }}</a>
		  <span dir='ltr'> ({{tag[1].size}}) </span>
		  <ul>
		  {% for post in site.posts %}
		   {% if post.tags contains tag[0] %}
		    <li>
		   <a href="{{post.url | prepend: site.baseurl}}">{{ post.title }}, {{ post.date | date_to_string }}</a>
		   {% for tagg in post.tags %}
		    <a href="#{{ tagg[0] | slugify }}">{{ tagg[0] }}</a>
		   {% endfor %}
		    </li>
		  {% endif %}
		 {% endfor %}
		 </ul>
		 </li>
		{% endfor %}
	</ul>

	 <div class='clear'></div>
	 <span class='widget-item-control'><span class='item-control blog-admin'><a class='quickedit' href='' onclick='' target='configLabel1' title='Edit'><img alt='' height='18' src='' width='18'/></a></span></span>
	<div class='clear'></div></div>
